{{define "main"}}
{{- partial "hero.html" . -}}
<section id="posts" class="container mt-4">
    {{ if .Site.Params.search.enabled }}
        {{partial "search.html" .}}
    {{end}}
	<div class="card-columns mt-3">
    {{ range first 7 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
				<div class="bg-light card">
					<div class="card-body">
					  <h5 class="font-weight-bold card-title">{{.Title}}</h5>
					  <h6 class="text-monospace card-subtitle mb-2 text-muted">{{ .PublishDate.Format "January 2, 2006" }}</h6>
					  <small class="card-text text-monospace">{{.Summary}}</small>
					  <a href="{{.Permalink}}" class="card-link">Read More...</a>
					</div>
			  </div>
			{{end}}
		</div>
</section>
<section class="container text-center mt-2">
    <h5 class="font-weight-bold card-title">Books I am currently reading...</h5>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=cstheorist-20&language=en_US&marketplace=amazon&region=US&placement=B075JQ5TY3&asins=B075JQ5TY3&linkId=3d5af718162373c9dce98d8b606a1e16&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=cstheorist-20&language=en_US&marketplace=amazon&region=US&placement=B004J4WKEC&asins=B004J4WKEC&linkId=6d721a443d882e7cca61c92403d95e54&show_border=true&link_opens_in_new_window=true"></iframe>
</section>
{{end}}
